layout python3

export PYTHONPATH=$(expand_path src)

if has pip3
then
	echo "pip3: installing local package"
	pip3 --quiet install --upgrade --editable .

	echo "pip3: installing development dependencies"
	pip3 --quiet install --upgrade --requirement src/requirements.txt

	echo "pip3: installing documentation dependencies"
	pip3 --quiet install --upgrade --requirement docs/requirements.txt

	echo "pip3: installing test dependencies"
	pip3 --quiet install --upgrade --requirement tests/requirements.txt
fi

if has pre-commit
then
	pre-commit install
fi
